@model IEnumerable<DatabaseLayer.AnnualTable>

@{
    ViewBag.Title = "Annual Fee";
}

<p>
    @Html.ActionLink("new Annual Fee", "Create", null, new { @class = "btn btn-success" })
</p>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All Annual Fee</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Annual/Promote Fee Title
                        </th>
                        <th>
                          Fee's
                        </th>
                        <th>
                            Program
                        </th>
                        <th>
                           Status
                        </th>
                        <th>
                            Fee Description
                        </th>
                        <th>
                           Program Name
                        </th>
                        <th>
                           User
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fees)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProgramTable.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProgramTable.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserTable.FullName)
                            </td>
                            <td class="btn btn-group">

                                @Html.ActionLink("Edit", "Edit", new { id = item.AnnualID }, new { @class = "btn btn-primary" })
                                @Html.ActionLink("Details", "Details", new { id = item.AnnualID }, new { @class = "btn btn-info" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.AnnualID }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>
