@model DatabaseLayer.ExamMarksTable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ExamMarksTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubjectTotalMarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectTotalMarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubjectObtainMarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectObtainMarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClassSubjectTable.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassSubjectTable.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExamTable.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExamTable.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentTable.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentTable.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserTable.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserTable.FullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MarksID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
